img {
    width: 25px;
  }
  .navBarHead {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 56, 56);
    color: white;
  }
  ul li {
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .head {
    margin-top: 3px;
  }